<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AutoSync.Properties.Settings.WmsCon" connectionString="Data Source=(local);Initial Catalog=JWMSY_2015;Persist Security Info=True;User ID=sa;Password=3281528zqs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <AutoSync.Properties.Settings>
            <setting name="cServer" serializeAs="String">
                <value>localhost:32422</value>
            </setting>
        </AutoSync.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll_library"/>
    </assemblyBinding>
  </runtime>
    <applicationSettings>
        <AutoSync.Properties.Settings>
            <setting name="AutoSync_BaseCon_BaseConService" serializeAs="String">
                <value>http://localhost:32422/BaseConService.asmx</value>
            </setting>
            <setting name="AutoSync_SyncWo_SyncManufactureRecBill" serializeAs="String">
                <value>http://localhost:32422/SyncManufactureRecBill.asmx</value>
            </setting>
            <setting name="AutoSync_SyncProduce_SyncMaterialReqBill" serializeAs="String">
                <value>http://localhost:32422/SyncMaterialReqBill.asmx</value>
            </setting>
            <setting name="AutoSync_SyncTransferStore_SyncMoveInWarehsBill"
                serializeAs="String">
                <value>http://localhost:32422/SyncMoveInWarehsBill.asmx</value>
            </setting>
            <setting name="AutoSync_SyncTransferDelivery_SyncMoveIssueBill"
                serializeAs="String">
                <value>http://localhost:32422/SyncMoveIssueBill.asmx</value>
            </setting>
            <setting name="AutoSync_SyncPoStore_SyncOrder" serializeAs="String">
                <value>http://localhost:32422/SyncPurReceivalBill.asmx</value>
            </setting>
            <setting name="AutoSync_SyncSaleDelivery_SyncSaleIssueBill" serializeAs="String">
                <value>http://localhost:32422/SyncSaleIssueBill.asmx</value>
            </setting>
        </AutoSync.Properties.Settings>
    </applicationSettings>
</configuration>