<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JWMSY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JWMSY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JWMSY.Properties.Settings.DataCon" connectionString="Data Source=192.168.0.173;Initial Catalog=JWMSY_2015;Persist Security Info=True;User ID=sa;Password=kingdee"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <JWMSY.Properties.Settings>
            <setting name="cUser" serializeAs="String">
                <value />
            </setting>
            <setting name="cServer" serializeAs="String">
                <value />
            </setting>
        </JWMSY.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <JWMSY.Properties.Settings>
            <setting name="JWMSY_WmsService_BaseConService" serializeAs="String">
                <value>http://localhost:32422/BaseConService.asmx</value>
            </setting>
            <setting name="JWMSY_EasOrderService_EasOrder" serializeAs="String">
                <value>http://localhost:32422/EasOrder.asmx</value>
            </setting>
            <setting name="JWMSY_OrderService_WMS" serializeAs="String">
                <value>http://localhost:2831/wms.asmx</value>
            </setting>
            <setting name="JWMSY_CompareService_EasAndWmsCompareReport" serializeAs="String">
                <value>http://192.168.0.173:9191/EasAndWmsCompareReport.asmx</value>
            </setting>
        </JWMSY.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll_library"/>
    </assemblyBinding>
  </runtime>
</configuration>